.navbar{
    background-color: #f5f5f5;
    color: #ffffff;
    font-size: 20px;
    font-weight: bold;
    padding: 30px;
    width: 100%;
}

.links{
    text-decoration: none;
    color: #000;
}
.links:hover{
    color: #fff;
    background-color: #000;
    border-radius: 5px;
    padding: 5px;
}
li{
    list-style: none;
    display: inline;
    padding: 10px;
}
