*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.navbar{
    background-color: #f5f5f5;
    color: #ffffff;
    font-size: 20px;
    font-weight: bold;
    padding: 30px;
    width: 100%;
}

.links{
    text-decoration: none;
    color: #000;
}
.links:hover{
    color: #fff;
    background-color: #000;
    border-radius: 5px;
    padding: 5px;
}
li{
    list-style: none;
    display: inline;
    padding: 10px;
}
.nav-center{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

/* shop */
.shop{
    background-color: #f5f5f5;
    padding: 20px;
    margin: 20px;
}
.item{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.item img{
    width: 200px;
    height: 200px;
}
.buttons{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
button{
    background-color: #000;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}
button:hover{
    background-color: #fff;
    color: #000;
}

.cart-icon{
    font-size: 30px;
    color: red;
    cursor: pointer;
}
.cart-icon:hover{
    color: #000;
}
.cart-btn span{
    font-size: 20px;
    color: #000;
    position: relative;
    top: -20px;
    left: -2px;
}
.cart-btn {
    background-color: #fff;
    border: none;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;

}



/* favorites */
.favorites{
    background-color: #f5f5f5;
    padding: 20px;
    margin: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;

}
.favorites img{
    width: 200px;
    height: 200px;
}
/* favorites */
.cart{
    background-color: #f5f5f5;
    padding: 20px;
    margin: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;

}
.cart img{
    width: 200px;
    height: 200px;
}